.container {
	width: 400px;
	margin: 0 auto;
}

header {
	width: 300px;
}

header img, header h1 {
    display: inline;
}

header h1 {
    padding: 0;
    margin: 0;
}

#message {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#message.error {
    background: #ED9D9D;
}

#message.success {
	background: #8BED90;
}

legend {
    font-weight: bold;
    border-bottom: 1px solid
}